.button {
    -fx-background-color: #d7d74a;
    -fx-font-size: 16;
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}
.button:hover {
    -fx-background-color: #f6f6f6;
    -fx-font-size: 16;
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}
.button:hover .layout-y {
    -fx-translate-y: -5;
}